* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #111111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  border: none;
}
